<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="uTorrentNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="uTorrentNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <uTorrentNotifier.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="URI" serializeAs="String">
                <value />
            </setting>
            <setting name="ProwlAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ProwlEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBalloonTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notification_TorrentAdded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Notification_DownloadComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
        </uTorrentNotifier.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <uTorrentNotifier.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>uTorrent Notifier</value>
            </setting>
        </uTorrentNotifier.Properties.Settings>
    </applicationSettings>
</configuration>